/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require admin-lte/bootstrap/css/bootstrap
 *= require admin-lte/dist/css/AdminLTE
 *= require admin-lte/dist/css/skins/skin-blue
 *= require jquery-ui
 *= require select2
 *= require select2-bootstrap
 *= require jquery.sidr.light
 *= require_self
 */

.btn{
  margin-right: 20px;
}

.entry-forms{
  border: solid 1px #ddd;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
}

.entry-forms-delete{
  color: #ff3f1d;
}

.user-sign{
  margin: 15px;
}

/* form ==============================*/

#error_explanation {
  width: 100%;
  background-color: #FF5454;
  color: red;
  border-color: #FF5454;
  ul {
    color: red;
    margin-top: 10px;
  }
  li {
    color: white;
  }
}

.field_with_errors {
  @extend .form-error;
}

.form-error{
  display: block;
  background-color: white;
  label {
    color: red;
  }
  .form-control {
    border-color: red;
  }
}